@{
	ViewData["Title"] = "FAQ";
}

<div class="mt-5">
    <h2>Frequently Asked Questions (FAQ)</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    What is Inventory Management System?
                </div>
                <div class="card-body">
                    <p>Inventory Management System helps businesses manage their inventory efficiently.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    How do I add new data?
                </div>
                <div class="card-body">
                    <p>Just click the "Add" button, and a form will appear for you to fill out with all the necessary information. Simply click "Create" once you've finished entering the details, and the newly added data will appear on the display page.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Can I update or delete data?
                </div>
                <div class="card-body">
                    <p>Yes, all you have to do is click the "Edit" button to update the data. Once you've finished editing the product, you can view the updated data on the display page by simply clicking the "Save changes" button.</p>
                    <p>The same applies if you choose to remove data. Just click the "Delete" button, and you'll be prompted once more to confirm that you want to remove the data. After you confirm, simply click the "Delete" button to remove the data.</p>
                </div>
            </div>
        </div>
    </div>
</div>
